<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>{{ num }}</h1>

    <p v-bind:id="uuid" v-bind:class="name">
      <h1>{{ doubleNum }}</h1>
    </p>
    <div v-if="flag">
      Loading...
    </div>
    <div v-else>
      Finish!
    </div>
    <div v-show="flag">
      what
    </div>
    <input type="text" v-model="message">
    <p>{{ message }}</p>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./index.js" ></script>
</body>
</html>